extends ../partials/head
block content
  .all-wrapper
      .all-inner-wrapper
        .all-inner-wrapper-header
          img.usersmagic-logo(src=photos.usersmagicLogo)
          .header-blue-circle
        .reports-header
          img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
          .each-report-title(style="font-size:72px") A101 Tüketici Araştırması
          .each-report-description Türkiye’de 18 ile 65 yaş arasındaki 1000 tüketici ile yapılmıştır
        each graph in graphs
          .each-graph-header
            .each-graph-header-row-number #{graph.graphNumber}
            .each-graph-header-title(style="width:100%; text-align: left") #{graph.graphTitle}
          .tri-bar-graph-wrapper
            .tri-bar-graph-content
              .tri-bar-graph-background
                .tri-bar-graph-scales-wrapper
                  .scale-vertical-line
                  .each-horizontal-line-group
                    .scales-big-bar-with-number
                      .scales-big-bar-number(style="margin-left:12px") 0
                      .scales-big-bar
                    .each-thinner-horizontal-line
                  each lineGroup in graph.yticks
                    .each-horizontal-line-group
                      .scales-small-bar
                      .each-thinner-horizontal-line
                    .each-horizontal-line-group
                      .scales-small-bar
                      .each-thinner-horizontal-line
                    .each-horizontal-line-group
                      .scales-small-bar
                      .each-thinner-horizontal-line
                    .each-horizontal-line-group
                      .scales-small-bar
                      .each-thinner-horizontal-line
                    .each-horizontal-line-group
                      .scales-small-bar
                      .each-thinner-horizontal-line
                    .each-horizontal-line-group
                      .scales-big-bar-with-number
                        .scales-big-bar-number #{lineGroup}
                        .scales-big-bar
                      .each-thinner-horizontal-line
              .tri-bar-graph-bar-content
                each group in graph.barGroups
                  .tri-bar-graph-each-bar-group-content
                      .tri-bar-graph-each-bar-group
                        each bar in group.bars
                          .tri-bar-graph-each-bar-content
                            .tri-bar-graph-each-bar-value(style=`color:${bar.color}`) #{bar.value}
                            .tri-bar-graph-each-bar(style=`height: ${bar.height}%; background-color:${bar.color}`)
                      .tri-bar-label #{group.label}
            .tri-bar-graph-legends
              each legend in graph.legends
                .each-tri-bar-graph-legends
                  .tri-bar-graph-legend-color-box(style=`background-color:${legend.color}`)
                  .tri-bar-graph-legend-text #{legend.value}
        .reports-ending-wrapper(style="margin-top:200px")
          .reports-ending-left-wrapper
            .get-started-text(style="width:100%") Usersmagic ile kullanıcılarınızı anlayın
            a.seablue-button(href='https://app.usersmagic.com/auth/register', target='_blank') Şimdi deneyin
          .reports-ending-right-wrapper
            img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
            .ending-yellow-gradient