extends ../partials/head
block content
  .all-wrapper
    .all-inner-wrapper
      .all-inner-wrapper-header
        img.usersmagic-logo(src=photos.usersmagicLogo)
        .header-blue-circle
      .reports-header
        img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
        .each-report-title(style="width:100%; font-size:72px") Elektronik Ürünler Araştırması
        .each-report-description(style="width:80%") Türkiye’de 18 ile 50 yaş arası 100 tüketici ile yapılmıştır
      .electronics-report-people-wrapper
        .each-person
          img.each-person-photo(src=photos.emirFoto)
          .each-person-text-content
            .each-person-text-content-name Emir Erben
            .each-person-text-content-duty Raporlama
        .each-person
          img.each-person-photo(src=photos.yasinFoto)
          .each-person-text-content
            .each-person-text-content-name Raporlama
            .each-person-text-content-duty Veri toplama
      .electronics-report-description-text
        p Bu araştırmamız Usersmagic testerları içinden rasgele örnekleme kullanılarak seçilen 18 ile 50 yaş arasındaki 100 tüketici ile yapılmıştır. Bu rapordaki amacımız, bu kitlenin yakın dönemde yaptığı alışverişler ve tercihler üzerine karşılaştırma yapmaktır. Önümüzdeki haftalarda bu araştırmalarda daha da derine inerek, tercihleri ve alışkanlıklarını daha iyi anlamak adına yaptığımız çalışmalarımızı paylaşacağız. Bu içeriklerde derin ve detaylı anket sonuçları, persona analizi, mülakat sonrası çıkarımlar gibi birbirini bütünleyen bilgilere ulaşabileceksiniz.
      .reports-key-insight-title Çıkarımlar
      .reports-key-insights-wrapper
        .each-key-insight
          .each-key-insight-row-number 1
          .each-key-insight-description Seçilen grubun büyük bir çoğunluğu yakın zamanda akıllı telefon satın almıştır. Diğer ürünler benzer seviyede satın alınırken, yalnızca bir kişi akıllı ev ürünü satın almıştır.
        .each-key-insight
          .each-key-insight-row-number 2
          .each-key-insight-description En çok tercih edilen mağazalar Mediamarkt, Trendyol ve Teknosa olmuştur ve bütün alışverişlerin %60’ı bu üç mağazadan yapılmıştır.
        .each-key-insight
          .each-key-insight-row-number 3
          .each-key-insight-description Seçilen grubun %93’ü ikinci ürün almak yerine birinci el almayı tercih etmektedir.
        .each-key-insight
          .each-key-insight-row-number 4
          .each-key-insight-description Aşağıda yer alan ikinci kısım, her mağazadan alınmış ürünlerin kategorilere göre dağılımını göstermektedir. Örneğin, Teknosa’dan alınan ürünler sırasıyla en çok akıllı telefon, televizyon, oyun konsolu ve kişisel bakım kategorilerinde olmuştur.
        .each-key-insight
          .each-key-insight-row-number 5
          .each-key-insight-description Aşağıda yer alan kısımda, seçilen grubun her bir ürün kategorisi için alışveriş yaptığı mağazaların dağılımı yer almaktadır. Örneğin, televizon alışverişi en çok Teknosa’dan yapılırken, bilgisayar alışverişi en çok Vatan’dan yapılmıştır.
      .electronics-report-consumer-wrapper
        .consumer-wrapper-title Tüketici davranışları ve tercihleri
        .consumer-graphs-wrapper
          .each-graph
            .each-graph-header
              .each-graph-header-row-number 1
              .each-graph-header-title Aşağıdaki cihaz kategorilerinden en son hangilerini satın aldınız?
            .each-bar-graph-content
              .bar-graph-background-wrapper
                .each-background-row
                  span 0
                  hr
                .each-background-row
                  span 5
                  hr
                .each-background-row
                  span 10
                  hr
                .each-background-row
                  span 15
                  hr
                .each-background-row
                  span 20
                  hr
                .each-background-row
                  span 25
                  hr
                .each-background-row
                  span 30
                  hr
                .each-background-row
                  span 35
                  hr
                .each-background-row
                  span 40
                  hr
                .each-background-row
                  span 45
                  hr
                .each-background-row
                  span 50
                  hr
                .each-background-row
                  span 55
                  hr
                .each-background-row
                  span 60
                  hr
                .each-background-row
                  span 65
                  hr
              .bar-graph-columns-wrapper
                .each-column-wrapper
                  .each-bar(style="height:75px")
                  .each-bar-label Wearable tech
                .each-column-wrapper
                  .each-bar(style="height:125px")
                  .each-bar-label Personal care
                .each-column-wrapper
                  .each-bar(style="height:415px")
                  .each-bar-label(style="margin-bottom: 10px") Smartphone
                .each-column-wrapper
                  .each-bar(style="height:135px")
                  .each-bar-label(style="margin-bottom: 10px") TV
                .each-column-wrapper
                  .each-bar(style="height:95px")
                  .each-bar-label(style="margin-bottom: 10px") Computer
                .each-column-wrapper
                  .each-bar(style="height:120px")
                  .each-bar-label Electronic Appliance
                .each-column-wrapper
                  .each-bar(style="height:75px")
                  .each-bar-label Household Appearance
                .each-column-wrapper
                  .each-bar(style="height:100px")
                  .each-bar-label Gaming Device
                .each-column-wrapper
                  .each-bar(style="height:27px")
                  .each-bar-label(style="margin-bottom: 10px") Camera
                .each-column-wrapper
                  .each-bar(style="height:8px")
                  .each-bar-label(style="margin-bottom: -12px") Smart Home Device
          .each-graph
            .each-graph-header
              .each-graph-header-row-number 2
              .each-graph-header-title En son aldığınız elektronik ürünü nereden satın aldınız?
            .each-bar-graph-content
              .bar-graph-background-wrapper
                .each-background-row
                  span 0
                  hr
                .each-background-row
                  span 2
                  hr
                .each-background-row
                  span 4
                  hr
                .each-background-row
                  span 6
                  hr
                .each-background-row
                  span 8
                  hr
                .each-background-row
                  span 10
                  hr
                .each-background-row
                  span 12
                  hr
                .each-background-row
                  span 14
                  hr
                .each-background-row
                  span 16
                  hr
                .each-background-row
                  span 18
                  hr
                .each-background-row
                  span 20
                  hr
              .bar-graph-columns-wrapper
                .each-column-wrapper
                  .each-bar(style="height:410px")
                  .each-bar-label(style="margin-bottom: 10px") Trendyol
                .each-column-wrapper
                  .each-bar(style="height:65px")
                  .each-bar-label(style="margin-bottom: 10px") Sahibinden
                .each-column-wrapper
                  .each-bar(style="height:310px")
                  .each-bar-label(style="margin-bottom: 10px") Vatan
                .each-column-wrapper
                  .each-bar(style="height:100px")
                  .each-bar-label(style="margin-bottom: 10px") N11
                .each-column-wrapper
                  .each-bar(style="height:420px")
                  .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                .each-column-wrapper
                  .each-bar(style="height:390px")
                  .each-bar-label(style="margin-bottom: 10px") Teknosa
                .each-column-wrapper
                  .each-bar(style="height:245px")
                  .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                .each-column-wrapper
                  .each-bar(style="height:42px")
                  .each-bar-label(style="margin-bottom: 10px") Amazon
                .each-column-wrapper
                  .each-bar(style="height:60px")
                  .each-bar-label(style="margin-bottom: 10px") Letgo
          .each-graph
            .each-graph-header
              .each-graph-header-title Bu ürünü fiziksel mağazadan mı yoksa online mağazadan mı aldınız?
            .each-doughnut-graph-content
              .dougnut-graph-circle-wrapper
                .doughnut-circle(style="transform: rotate(45deg);border-top-color: rgb(134,221,212);")
                .doughnut-circle(style="transform: rotate(90deg); border-top-color: rgb(134,221,212);")
                .doughnut-circle(style="transform: rotate(-45deg);border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-90deg); border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-180deg); border-top-color: rgb(33,51,111);")
              .white-circle-wrapper
                .white-circle-centered
                  .white-circle-centered-thin-line-circle
                  span 100%
              .doughnut-labels-wrapper
                .doughnut-each-label(style="right:150px; top: 150px")
                  .doughnut-label-percentage(style="color: rgb(134,221,212);") 42%
                  .doughnut-label-percentage-label IN STORE
                .doughnut-each-label(style="left:150px; bottom: 150px")
                  .doughnut-label-percentage(style="color: rgb(33,51,111)") 58%
                  .doughnut-label-percentage-label ONLINE
          .each-graph
            .each-graph-header
              .each-graph-header-row-number 3
              .each-graph-header-title Aldığınız ürün birinci el miydi yoksa ikinci el miydi?
            .each-doughnut-graph-content
              .dougnut-graph-circle-wrapper
                .doughnut-circle(style="transform: rotate(45deg);border-top-color: rgb(134,221,212);")
                .doughnut-circle(style="transform: rotate(90deg); border-top-color: rgb(134,221,212);")
                .doughnut-circle(style="transform: rotate(-45deg);border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-90deg); border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-180deg); border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-270deg); border-top-color: rgb(33,51,111);")
                .doughnut-circle(style="transform: rotate(-290deg); border-top-color: rgb(33,51,111);")
              .white-circle-wrapper
                .white-circle-centered
                  .white-circle-centered-thin-line-circle
                  span 100
              .doughnut-labels-wrapper
                .doughnut-each-label(style="right:200px; top: 90px")
                  .doughnut-label-percentage(style="color: rgb(134,221,212);") 7
                  .doughnut-label-percentage-label USED (2ND HAND)
                .doughnut-each-label(style="left:240px; bottom: 90px")
                  .doughnut-label-percentage(style="color: rgb(33,51,111)") 93
                  .doughnut-label-percentage-label NEW
          .each-graph
            .each-graph-header
              .each-graph-header-title Yakında bir elektronik alet almayı düşünüyor musunuz?
            .each-doughnut-graph-content
              .each-doughnut-graph-content
                .dougnut-graph-circle-wrapper
                  .doughnut-circle(style="transform: rotate(45deg);border-top-color: rgb(134,221,212);")
                  .doughnut-circle(style="transform: rotate(90deg); border-top-color: rgb(134,221,212);")
                  .doughnut-circle(style="transform: rotate(-45deg);border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-90deg); border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-180deg); border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-250deg); border-top-color: rgb(33,51,111);")
                .white-circle-wrapper
                  .white-circle-centered
                    .white-circle-centered-thin-line-circle
                    span 100
                .doughnut-labels-wrapper
                  .doughnut-each-label(style="right:220px; top: 100px")
                    .doughnut-label-percentage(style="color: rgb(134,221,212);") 22
                    .doughnut-label-percentage-label YES
                  .doughnut-each-label(style="left:240px; bottom: 90px")
                    .doughnut-label-percentage(style="color: rgb(33,51,111)") 78
                    .doughnut-label-percentage-label NO
          .each-graph
              .each-graph-header
                .each-graph-header-title Yakında bir elektronik aletinizi satmayı düşünüyor musunuz?
              .each-doughnut-graph-content
                .dougnut-graph-circle-wrapper
                  .doughnut-circle(style="transform: rotate(45deg);border-top-color: rgb(134,221,212);")
                  .doughnut-circle(style="transform: rotate(90deg); border-top-color: rgb(134,221,212);")
                  .doughnut-circle(style="transform: rotate(-45deg);border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-90deg); border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-180deg); border-top-color: rgb(33,51,111);")
                  .doughnut-circle(style="transform: rotate(-250deg); border-top-color: rgb(33,51,111);")
                .white-circle-wrapper
                  .white-circle-centered
                    .white-circle-centered-thin-line-circle
                    span 100
                .doughnut-labels-wrapper
                  .doughnut-each-label(style="right:220px; top: 100px")
                    .doughnut-label-percentage(style="color: rgb(134,221,212);") 21
                    .doughnut-label-percentage-label YES
                  .doughnut-each-label(style="left:240px; bottom: 90px")
                    .doughnut-label-percentage(style="color: rgb(33,51,111)") 79
                    .doughnut-label-percentage-label NO
          .each-graph-header(style="margin-top:100px; margin-bottom:100px")
              .each-graph-header-row-number 4
              .each-graph-header-title(style="width:100%") Mağazalara göre elektronik ürün şatış kategorisi dağılımı
          .consumer-graphs-wrapper
            .each-graph
              .each-graph-header-title Trendyol
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 7
                    hr
                  .each-background-row
                    span 8
                    hr
                  .each-background-row
                    span 9
                    hr
                  .each-background-row
                    span 10
                    hr
                  .each-background-row
                    span 11
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:37px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:110px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:405px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:75px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:40px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:185px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar(style="height:150px")
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar(style="height:110px")
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar(style="height:37px")
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Sahibinden
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.2
                    hr
                  .each-background-row
                    span 1.4
                    hr
                  .each-background-row
                    span 1.6
                    hr
                  .each-background-row
                    span 1.8
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.2
                    hr
                  .each-background-row
                    span 2.4
                    hr
                  .each-background-row
                    span 2.6
                    hr
                  .each-background-row
                    span 2.8
                    hr
                  .each-background-row
                    span 3
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Vatan
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 7
                    hr
                  .each-background-row
                    span 8
                    hr
                  .each-background-row
                    span 9
                    hr
                  .each-background-row
                    span 10
                    hr
                  .each-background-row
                    span 11
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:37px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:110px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:405px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:75px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:220px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:150px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar(style="height:75px")
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title N11
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.2
                    hr
                  .each-background-row
                    span 1.4
                    hr
                  .each-background-row
                    span 1.6
                    hr
                  .each-background-row
                    span 1.8
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.2
                    hr
                  .each-background-row
                    span 2.4
                    hr
                  .each-background-row
                    span 2.6
                    hr
                  .each-background-row
                    span 2.8
                    hr
                  .each-background-row
                    span 3
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:405px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:200px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:200px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:200px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar(style="height:200px")
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Mediamarkt
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 8
                    hr
                  .each-background-row
                    span 10
                    hr
                  .each-background-row
                    span 12
                    hr
                  .each-background-row
                    span 14
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:80px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:80px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:120px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar(style="height:120px")
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar(style="height:30px")
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Teknosa
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 7
                    hr
                  .each-background-row
                    span 8
                    hr
                  .each-background-row
                    span 9
                    hr
                  .each-background-row
                    span 10
                    hr
                  .each-background-row
                    span 11
                    hr
                  .each-background-row
                    span 12
                    hr
                  .each-background-row
                    span 13
                    hr
                  .each-background-row
                    span 14
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:120px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:405px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:210px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:30px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar(style="height:150px")
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Hepsiburada
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 5.5
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 6.5
                    hr
                  .each-background-row
                    span 7
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:120px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:240px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:405px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:180px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:240px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar(style="height:115px")
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Amazon
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.1
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.3
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.7
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 0.9
                    hr
                  .each-background-row
                    span 0.1
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar(style="height:410px; margin-bottom:-12px")
                    .each-bar-label Smart Home Device
            .each-graph
              .each-graph-header-title Letgo
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.2
                    hr
                  .each-background-row
                    span 1.4
                    hr
                  .each-background-row
                    span 1.6
                    hr
                  .each-background-row
                    span 1.8
                    hr
                  .each-background-row
                    span 2
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Wearable tech
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Personal care
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Smartphone
                  .each-column-wrapper
                    .each-bar(style="height:205px")
                    .each-bar-label(style="margin-bottom: 10px") TV
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Computer
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Electronic Appliance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Household Appearance
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Gaming Device
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Camera
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label Smart Home Device
          .each-graph-header(style="margin-top:100px; margin-bottom:100px")
              .each-graph-header-row-number 5
              .each-graph-header-title(style="width:100%") Elektronik ürün kategorisine göre alışveriş yapılan mağazaların dağılımı
          .consumer-graphs-wrapper
            .each-graph
              .each-graph-header-title Giyilebilir teknoloji
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.2
                    hr
                  .each-background-row
                    span 1.4
                    hr
                  .each-background-row
                    span 1.6
                    hr
                  .each-background-row
                    span 1.8
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.2
                    hr
                  .each-background-row
                    span 2.4
                    hr
                  .each-background-row
                    span 2.6
                    hr
                  .each-background-row
                    span 2.8
                    hr
                  .each-background-row
                    span 3
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:277px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar(style="height:277px")
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:277px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar(style="height:135px")
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Kişisel Bakım
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:250px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:165px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:330px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:330px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Akıllı telefon
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 8
                    hr
                  .each-background-row
                    span 10
                    hr
                  .each-background-row
                    span 12
                    hr
                  .each-background-row
                    span 14
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:380px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:90px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:325px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar(style="height:20px")
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:420px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:210px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Televizyon
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 5.5
                    hr
                  .each-background-row
                    span 6
                    hr
                  .each-background-row
                    span 6.5
                    hr
                  .each-background-row
                    span 7
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:175px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:120px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:175px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:175px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar(style="height:60px")
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Bilgisayar
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                  .each-background-row
                    span 5.5
                    hr
                  .each-background-row
                    span 6
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:65px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:65px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:277px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:140px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:65px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Elektronik ev aleti
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:330px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:165px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:330px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Beyaz eşya
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:205px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:205px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:205px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:205px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Oyun Konsolu
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 1
                    hr
                  .each-background-row
                    span 1.5
                    hr
                  .each-background-row
                    span 2
                    hr
                  .each-background-row
                    span 2.5
                    hr
                  .each-background-row
                    span 3
                    hr
                  .each-background-row
                    span 3.5
                    hr
                  .each-background-row
                    span 4
                    hr
                  .each-background-row
                    span 4.5
                    hr
                  .each-background-row
                    span 5
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:248px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar(style="height:165px")
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:328px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:82px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Fotoğraf Makinesi
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.1
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.3
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.7
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 0.9
                    hr
                  .each-background-row
                    span 1
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
            .each-graph
              .each-graph-header-title Akıllı Ev Aleti
              .each-bar-graph-content
                .bar-graph-background-wrapper
                  .each-background-row
                    span 0
                    hr
                  .each-background-row
                    span 0.1
                    hr
                  .each-background-row
                    span 0.2
                    hr
                  .each-background-row
                    span 0.3
                    hr
                  .each-background-row
                    span 0.4
                    hr
                  .each-background-row
                    span 0.5
                    hr
                  .each-background-row
                    span 0.6
                    hr
                  .each-background-row
                    span 0.7
                    hr
                  .each-background-row
                    span 0.8
                    hr
                  .each-background-row
                    span 0.9
                    hr
                  .each-background-row
                    span 1
                    hr
                .bar-graph-columns-wrapper
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Trendyol
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Sahibinden
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Vatan
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") N11
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Mediamarkt
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Teknosa
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Hepsiburada
                  .each-column-wrapper
                    .each-bar(style="height:410px")
                    .each-bar-label(style="margin-bottom: 10px") Amazon
                  .each-column-wrapper
                    .each-bar
                    .each-bar-label(style="margin-bottom: 10px") Letgo
      .reports-ending-wrapper(style="margin-top:200px")
        .reports-ending-left-wrapper
          .get-started-text(style="width:100%") Usersmagic ile kullanıcılarınızı anlayın
          a.seablue-button(href='https://app.usersmagic.com/auth/register', target='_blank') Şimdi deneyin
        .reports-ending-right-wrapper
          img.usersmagic-small-blue-logo(src=photos.usersmagicSmallLogo)
          .ending-yellow-gradient