doctype html
html(lang="en")
  head
    if meta
      if meta == 'usersmagic'
        meta(name="description" content="Usersmagic, ister tester olun ister şirket menajeri.")
      else if meta == 'company'
        meta(name="description" content="Usersmagic, dünyanın ilk topluluk tabanlı kullanıcı araştırması platformu. Anketinizi kullanımı kolay platformumuzda ve sizin için özel olarak hazırlanmış şablonlarımızda oluşturun, son derece ayrıntılı filtrelerimizi kullanarak doğru hedef kitlesini bulun ve dünyanın her yerinden seçtiğiniz herhangi bir tester ile röportajlar düzenleyin. 150000'den fazla test cihazıyla Usersmagic, test etmenin en iyi yoludur. Topluluk temelli yapımız, testçilerin anketlerinizi yalnızca kredi kazanmak için doldurmadığından emin olmanıza yardımcı olur, ancak gerçekten de şirketinizin bir parçasıymış gibi ellerinden gelen en iyi geri bildirimi vermeye çalışırlar.")
      else if meta == 'tester'
        meta(name="description" content="Usersmagic, web platformlarını ve uygulamalarını test ederek para kazanmanın en kolay yolu. Usersmagic'i kullanarak hızlı ve kolay bir şekilde para kazanabilirsiniz. Bizimle paylaştığınız tüm veriler kullanıcı sözleşmemiz ile güvence altına alınmıştır. Neden Usersmagic'i hemen kullanmaya başlamıyorsunuz?\nUsersmagic size dünyanın her yerindeki küçük veya büyük girişimler ve şirketlerle ilgili ücretli anketler sunar. Güvenlidir ve paylaşmak istemediğiniz herhangi bir kişisel bilgi gerektirmez. Usersmagic kredilerinizi bir Venmo, PayPal veya Papara hesabıyla çekebilirsiniz. Ayrıca, Usersmagic profilinizi geliştirmek ve daha fazla kazanmanıza yardımcı olacak daha yüksek ücretli anketlere ulaşmak için Discord sunucumuza katılabilirsiniz. Çok kısa sürede inanılmaz miktarda para kazanmak için şirketlerle çevrimiçi bire bir oturumlara katılabilirsiniz. Usersmagic ile kazanmak gerçekten çok kolay, neden şimdi kazanmaya başlamıyorsunuz?")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1.0, user-scalable=0")
    if title
      title Usersmagic | #{title}
    else
      title Usersmagic
    link(href="https://fonts.googleapis.com/css?family=Manrope:100,200,300,400,500,600,700,800,900" rel="stylesheet")
    if includes && includes.external
      if includes.external.css
        each file_name in includes.external.css
          if file_name == 'page'
            link(rel='stylesheet' href=`/css/${page}.css`)
          else if file_name == 'fontawesome'
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
          else
            link(rel='stylesheet' href=`/css/general/${file_name}.css`)
      if includes.external.js
        each file_name in includes.external.js
          if file_name == 'page'
            script(src=`/js/${page}.js`)
          else
            script(src=`/js/functions/${file_name}.js`)
  body
    block content
