extends ../partials/header
block main
    .start-content-wrapper
        span.start-title Usersmagic Blog & Kaynaklar
    .contents-titles
        span.each-content-title Müşteri araştırmaları
        span.each-content-title Şirket & Ürün Güncellemeleri
        span.each-content-title Kullanıcı rehberi
    .case-studies-header#case-studies-header
        span.case-studies-header-title Müşteri araştırmaları
        span.case-studies-view-all-span#view-all-button Daha fazla göster
    hr
    .case-studies-content#case-studies-content
        each caseStudy in caseStudyArray
            if browser_lang == caseStudy.language
                .each-case-study-wrapper
                    img.case-study-image(src=`${caseStudy.company_logo}`)
                    .case-study-company-industry #{caseStudy.company_industry}
                    .case-study-company-name #{caseStudy.company_name}
    .case-studies-header#case-studies-header
        span.case-studies-header-title Raporlar & Araştırmalar
        span.case-studies-view-all-span#view-all-button Daha fazla göster
    hr
    .case-studies-content#case-studies-content
      a(href="/reports/electronics_report_tr").each-case-study-wrapper
        img.case-study-image(src=`${photos.smallLogo}` style="width:10%")
        .case-study-company-name Elektronik araştırması
      a(href="/reports/A101_report").each-case-study-wrapper
        img.case-study-image(src=`${photos.smallLogo}` style="width:10%")
        .case-study-company-name A101 tüketici araştırması