extends ../partials/header
block main
    .all-inner-wraper-header
        .header-first-section
            img.company_logo(src=`${caseStudy.company_logo}`)
            .header-headline #{caseStudy.main_title}
            .header-description #{caseStudy.main_description}
            .try-now-button
                a(href="https://app.usersmagic.com/auth/register", style="text-decoration:none; color:rgb(244, 244, 244)", target="_blank") Try now
        .header-big-image-content
            img.main_company_image(src=`${caseStudy.main_company_image}`) 
    .company-profile-card-section
        .company-profile-card
            .company_name_title #{caseStudy.company_name}
            .company-information-content
                if caseStudy.company_location 
                    .each_company_information
                        span.each-company-information-title  Lokasyon: 
                        span.each-company-information-content #{caseStudy.company_location}
                if caseStudy.company_industry 
                    .each_company_information
                        span.each-company-information-title  Endüstri: 
                        span.each-company-information-content #{caseStudy.company_industry}
                if caseStudy.company_ipo 
                    .each_company_information
                        span.each-company-information-title  IPO: 
                        span.each-company-information-content #{caseStudy.company_ipo}
                if caseStudy.company_website 
                    .each_company_information
                        span.each-company-information-title  Websitesi: 
                        span.each-company-information-content #{caseStudy.company_website}
                if caseStudy.company_employee_number
                    .each_company_information
                        span.each-company-information-title  Çalışanlar: 
                        span.each-company-information-content #{caseStudy.company_employee_number}
                if caseStudy.company_established_year
                    .each_company_information
                        span.each-company-information-title  Kuruluş: 
                        span.each-company-information-content #{caseStudy.company_established_year}
                if caseStudy.company_speciality
                    .each_company_information
                        span.each-company-information-title  Uzmanlık: 
                        span.each-company-information-content #{caseStudy.company_speciality}
                if caseStudy.company_stage
                    .each_company_information
                        span.each-company-information-title  Seviye: 
                        span.each-company-information-content #{caseStudy.company_stage}
                if caseStudy.company_type
                    .each_company_information
                        span.each-company-information-title  Tip: 
                        span.each-company-information-content #{caseStudy.company_type}
            
    .company-personal-content
        .personal-quote #{caseStudy.company_personal_quote}
        .personal-informations
            .personal-text-type-infos
                span.personal-name #{caseStudy.company_personal_name}
                span.personal-role #{caseStudy.company_personal_role}
            img.personal_photo(src=`${caseStudy.company_personal_image}`)
    .paragraphs-content
        .each-paragraph
            if caseStudy.context_text
                .each-paragraph-title Bağlam
                .each-paragraph-content #{caseStudy.context_text}  
        .each-paragraph
            if caseStudy.problem_text
                .each-paragraph-title Problem
                .each-paragraph-content #{caseStudy.problem_text}
        .each-paragraph
            if caseStudy.solution_text
                .each-paragraph-title Çözüm
                .each-paragraph-content #{caseStudy.solution_text}
        .each-paragraph
            if caseStudy.results_text
                .each-paragraph-title Sonuçlar
                .each-paragraph-content #{caseStudy.results_text}